/*
    Document   : elsubonline
    Created on : 06/06/2013, 01:13:20 AM
    Author     : jean
    Description:
        Main stylesheet.
*/

body { font-size: 16px; }
h1 { font-size: 18px; }
textarea { resize: vertical; }

.header-container { background-color: #FFF059; border-bottom: 1px solid #D9D9D9; width: 100%; }
#navbar .li { list-style: none outside none; }
